<h1>Places I've Gone</h1>
<h3>Add a new city:</h3>
<form action="/places" method="post">
  <label for="new-place-name">City Name:</label>
  <input id="new-place-name" name="new-place-name" type="text">
  <label for="new-place-description">City Description:</label>
  <input id="new-place-description" name="new-place-description" type="text">
  <button type="submit">Add City</button>
</form>
